@import 'navigation.css';
@import 'header.css';
@import 'main_content.css';
@import 'detail_content.css';

.body {
	/* Блочная модель */
	display: grid;
	gap: 0;
	grid-template-columns: 400px 1fr;
	grid-template-rows: 88px 1fr;
	grid-template-areas:
		"nav header"
		"nav content";

	/* Оформление */
	background: #F2F2F2;
}

.content {
	/* Позиционирование */
	grid-area: content;
	padding: 40px 51px 31px 44px;
    width: calc(100%-51px);
}